TPUM/OPCUA/Model_0/.Types.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd"
  xmlns:tns="http://cas.eu/UA/CommServer/"
  targetNamespace="http://cas.eu/UA/CommServer/"
  elementFormDefault="qualified"
>
  <xs:import namespace="http://opcfoundation.org/UA/2008/02/Types.xsd" />

  <xs:element name="Book" type="ua:Variant" />

  <xs:element name="Person" type="ua:Variant" />

  <xs:element name="Lending" type="ua:Variant" />

</xs:schema>